.tabs {

    @media (max-width: $mobile-max) {
        position: relative;
        padding-top: 40px;
    }

    .tab-header-wrap {
        display: flex;
        padding: 0 1px;

        @media (max-width: $mobile-max) {
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9998;

            &:hover .tab-header:not(.active) {
                max-height: 100%;
                padding-top: 8px;
                padding-bottom: 8px;
                transform: rotate(360deg);
                box-shadow: 0 0 0 1px $c-border;
                opacity: 1;
                transition: transform .5s ease-out, opacity .5s linear, color .2s linear;
            }
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color .2s linear;

        @media (max-width: $mobile-max) {
            transition: all .1s ease-in, transform .5s ease-out, opacity .5s linear, color .2s linear;
        }

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;

            @media (max-width: $mobile-max) {
                order: -1;
            }
        }

        &:not(.active) {
            cursor: pointer;

            @media (max-width: $mobile-max) {
                position: relative;
                max-height: 0;
                padding-top: 0;
                padding-bottom: 0;
                opacity: 0;
                overflow: hidden;
                box-shadow: none;
                background-color: #fff;
            }

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-content-wrap {
        border: 1px solid $c-border;
    }

    .tab-content {
        padding: 30px 20px;

        & .tab-box {
            position: relative;
            width: 300px;
            height: 300px;
            margin: 0 auto;
            border: 1px solid $c-border;
            overflow: hidden;
            z-index: 1;

            & img {
                position: relative;
                top: 0;
                left: 0;
                min-width: 650px;
                z-index: 1;
            }
        }

        &:not(.active) {
            display: none;
        }
    }
}



