.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all .8s ease;

    @media (min-width: $tablet-min) {
        height: 160px;
    }

    & svg {
        transition: all .8s ease;
    }
}

.header--scroll {

    @media (min-width: $tablet-min) {
        margin-top: 50px;
        height: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    & svg {

        @media (min-width: $tablet-min) {
            width: auto;
            height: 50px;
        }
    }
}

